.visionMissionSection {
  display: flex;
  /* change to flex-end */
  align-items: center;
  justify-content: space-between;
}

.textBlock {
  max-width: 51rem;
  display: flex;
  gap: 4rem;
  flex-direction: column;
}

.title {
  color: #000;
  font-size: 6rem;
  font-weight: 600;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0%;
}

.description {
  color: #000;
  font-size: 2rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0%;
}

.imageContainer {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.imageContainer img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
