.valuesSection {
  width: 100%;
  padding: 109px 144px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.values {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.valueItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 35px 57px;
  box-shadow: 
    1px 10px 22px 0px #0000001A,
    5px 39px 39px 0px #00000017,
    11px 88px 53px 0px #0000000D,
    19px 157px 63px 0px #00000003,
    29px 245px 69px 0px #00000000;
  transition: box-shadow 0.4s ease, transform 0.4s ease;
}

.valueTitle {
  color: #000;
  font-size: 40px;
  font-weight: 600;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0%;
}

.valueItem:hover,
.valueItem:focus-within {
  box-shadow:
    1px 16px 28px 0px #00000033,
    5px 48px 48px 0px #00000026,
    11px 96px 64px 0px #0000001a,
    19px 168px 72px 0px #0000000d;
  transform: translateY(-6px);
}
