.lemonSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textBlock {
  display: flex;
  gap: 2.2rem;
  flex-direction: column;
}

.title {
  color: #000;
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.25;
}

.subtitle {
  color: #000;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.25;
}

.productInformation {
  color: #000;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.25;
  display: flex;
  gap: 0.2rem;
  flex-direction: column;
}

.imageContainer {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: 420px 120px;
}

.largeImage {
  width: 100%;
  height: auto;
}

.smallImages {
  cursor: pointer;
  display: grid;
  gap: 1.875rem;
  grid-template-rows: repeat(3, 120px);
}

.smallImages img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.smallImageFromLarge {
  width: 100%;
  height: auto;
  object-fit: contain;
}

@media (max-width: 1023px) {
  .textBlock {
    gap: 1rem;
  }

  .title {
    font-size: 2.875rem;
  }

  .subtitle {
    font-size: 1.375rem;
  }

  .productInformation {
    font-size: 1rem;
    gap: 0.1rem;
  }

  .imageContainer {
    display: grid;
    gap: 1.25rem;
    grid-template-columns: 230px 70px;
  }

  .largeImage {
    width: 230px;
    height: auto;
    object-fit: contain;
  }

  .smallImages {
    cursor: pointer;
    display: grid;
    gap: 0.625rem;
    grid-template-rows: repeat(3, 70px);
  }

  .smallImages img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .smallImageFromLarge {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

@media (max-width: 767px) {
  .textBlock {
    gap: 0.5rem;
  }

  .title {
    font-size: 2.25rem;
    line-height: 1;
  }

  .subtitle {
    font-size: 1.25rem;
  }

  .productInformation {
    font-size: 0.875rem;
  }

  .imageContainer {
    gap: 0.9375rem;
    grid-template-columns: 180px 54px;
  }

  .largeImage {
    width: 180px;
  }

  .smallImages {
    gap: 0.5625rem;
    grid-template-rows: repeat(3, 54px);
  }
}

@media (max-width: 620px) {
  .lemonSection {
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .textBlock {
    gap: 1rem;
    align-self: flex-start;
  }

  .productInformation {
    font-size: 1rem;
    gap: 0.2rem;
  }

  .imageContainer {
    gap: 0.9375rem;
    grid-template-columns: 1fr;
  }

  .largeImage {
    width: 100%;
  }

  .smallImages {
    gap: auto;
    grid-template-rows: none;
    grid-template-columns: repeat(3, 1fr);
  }
}
