.heroSection {
  width: 100%;
  min-height: 100vh;
  color: #FFF;
  padding: 0 144px;
  text-align: left;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.heroSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  filter: brightness(0.8);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("@/assets/main-photo.png");
}

@media (max-width: 480px) {
  .heroSection::before {
    background-image: url("@/assets/main-photo-mobile.png");
  }
}

.heroTitle {
  max-width: 64rem;
  margin: 9.375rem 0 3.375rem 0;
  color: #FFF;
  font-size: 5.25rem;
  font-weight: 600;
  line-height: 5.875rem;
}

.heroButton {
  color: #FFF;
  padding: 24px 75px;
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0%;
  cursor: pointer;
  border-radius: 100px;
  text-decoration: none;
  display: inline-block;
  border: 3px solid #FFF;
  background-color: transparent;
  overflow: hidden;
  position: relative;
  transition: border-color 0.3s ease;
}

.heroButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  transform-origin: left;
  background-color: #FFF;
  border-radius: 100px 100px 0 0;
  transition: transform 0.4s ease;
}

.heroButton::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  transform-origin: right;
  background-color: #FFF;
  border-radius: 0 0 100px 100px;
  transition: transform 0.4s ease;
}

.heroButton:hover {
  border-color: transparent;
}

.heroButton:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.heroButton:hover::after {
  transform: scaleX(1);
  transform-origin: right;
}

.footerLayout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1440px) {
  .heroSection {
    min-height: 42.1875rem;
    padding: 5rem;
  }

  .heroTitle {
    margin: 5rem 0 1.5rem;
    white-space: pre-line;
    font-size: 3.4375rem;
    line-height: 4.4rem;
  }

  .heroButton {
    padding: 0.9rem 3rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 1023px) {
 .heroSection {
    min-height: 30rem;
    padding: 2rem 4rem;
  }

  .heroTitle {
    margin: 4rem 0 1.25rem 0;
    white-space: pre-line;
    color: #FFF;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 3.125rem;
  }

  .heroButton {
    padding: 0.85rem 2.5rem;
    font-size: 1rem;
    line-height: 100%;
    border: 2px solid #FFF;
  }

  .footerLayout {
    min-height: auto;
  }
}

@media (max-width: 767px) {
  .heroSection {
    min-height: 22.5rem;
    padding: 2.125rem;
    justify-content: flex-end;
  }

  .heroTitle {
    margin-top: 0;
    font-size: 1.6rem;
    line-height: 2.5rem;
  }

  .heroButton {
    padding: 0.7rem 1.5rem;
    font-size: 1.125rem;
  }
}

@media (max-width: 480px) {
  .heroSection {
    min-height: 27rem;
  }

  .heroTitle {
    font-size: 1.375rem;
    line-height: 2.25rem;
  }

  .heroButton {
    padding: 0.6rem 1.35rem;
    font-size: 1rem;
  }
}
