.heroSection {
  width: 100%;
  height: 100vh;
  color: #FFF;
  padding: 0 144px;
  text-align: left;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.heroSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("@/assets/main-photo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  filter: brightness(0.8);
}

.heroTitle {
  max-width: 64rem;
  margin: 9.375rem 0 3.375rem 0;
  color: #FFF;
  font-size: 5.25rem;
  font-weight: 600;
  line-height: 5.875rem;
}

.heroButton {
  color: #FFF;
  padding: 24px 75px;
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0%;
  cursor: pointer;
  border-radius: 100px;
  border: 3px solid #FFF;
  background-color: transparent;
}

.sectionFooterWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
