.heroSection {
  width: 100%;
  height: 100vh;
  color: #fff;
  padding: 0 144px;
  text-align: left;
  position: relative;
  background-image: url("@/assets/main-photo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.heroTitle {
  color: #FFF;
  margin: 100px 0 54px 0;
  font-size: 84px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0%;
  white-space: pre-line;
}

.heroButton {
  color: #FFF;
  padding: 24px 75px;
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0%;
  cursor: pointer;
  border-radius: 100px;
  border: 3px solid #FFF;
  background-color: transparent;
}

.sectionFooterWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
