.heroSection {
  width: 100%;
  height: 100vh;
  color: #FFF;
  padding: 0 144px;
  text-align: left;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.heroSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("@/assets/main-photo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  filter: brightness(0.8);
}

.heroTitle {
  max-width: 64rem;
  margin: 9.375rem 0 3.375rem 0;
  color: #FFF;
  font-size: 5.25rem;
  font-weight: 600;
  line-height: 5.875rem;
}

.heroButton {
  color: #FFF;
  padding: 24px 75px;
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0%;
  cursor: pointer;
  border-radius: 100px;
  border: 3px solid #FFF;
  background-color: transparent;
  overflow: hidden;
  position: relative;
  transition: border-color 0.3s ease;
  text-decoration: none;
  display: inline-block;
}

.heroButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #FFF;
  border-radius: 100px 100px 0 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}

.heroButton::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: #FFF;
  border-radius: 0 0 100px 100px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease;
}

.heroButton:hover {
  border-color: transparent;
}

.heroButton:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.heroButton:hover::after {
  transform: scaleX(1);
  transform-origin: right;
}

.sectionFooterWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1023px) {
 .heroSection {
    padding: 0 102px;
    min-height: 100vh;
  }

  .heroTitle {
    max-width: 600px;
    margin: 0 0 19px 0;
    color: #FFF;
    font-size: 45px;
    font-weight: 600;
    line-height: 60px;
  }

  .heroButton {
    padding: 13px 40px;
    font-size: 17px;
    line-height: 100%;
    border: 2px solid #FFF;
  }

  .sectionFooterWrapper {
    height: auto;
  }
}
