.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 100px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 121px;
  height: 125px;
}

.nav {
  flex: 1;
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menuItem {
  color: #FFF;
  font-weight: 600;
  font-size: 30px;
  line-height: 1;
  letter-spacing: 0%;
  display: flex;
  align-items: center;
}

.menuLink,
.menuTrigger {
  color: inherit;
  padding: 0;
  text-decoration: none;
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-flex;
  gap: 4px;
  align-items: flex-end;
}

.menuTrigger:focus-visible,
.menuLink:focus-visible {
  outline: none;
}

.contactButton {
  color: #FFF;
  font-weight: 600;
  font-size: 26px;
  line-height: 1;
  letter-spacing: 0;
  padding: 10px 50px;
  border-radius: 100px;
  cursor: pointer;
  border: 3px solid #FFF;
  background-color: transparent;
}

.dropdownContent {
  background: #FFF;
  border: none;
  border-radius:24px;
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
}

.dropdownItem {
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 6px 0;
  color: #22780B;
  font-weight: 600;
  font-style: normal;       
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0%; 
  text-decoration: none;
}

.dropdownItemIcon {
  color: #22780B;
}

.dropdownItem:hover,
.dropdownItem:focus-visible {
  cursor: pointer;
  background-color: transparent;
}
