.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 13px 144px 0;
  padding-bottom: 13px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid #FFF;
}

.logo {
  width: 121px;
  height: 125px;
}

.nav {
  flex: 1;
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menuItem {
  color: #FFF;
  font-weight: 600;
  font-size: 30px;
  line-height: 1;
  letter-spacing: 0%;
  display: flex;
  align-items: center;
}

.menuLink,
.menuTrigger {
  color: inherit;
  padding: 0;
  text-decoration: none;
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  gap: 4px;
  align-items: flex-end;
}

.menuLink::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  transform-origin: left;
  background-color: #FFF;
  transition: transform 0.4s ease;
}

.menuLink:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.menuTrigger:focus-visible,
.menuLink:focus-visible {
  outline: none;
}

.contactButton {
  color: #FFF;
  padding: 10px 50px;
  font-weight: 600;
  font-size: 26px;
  line-height: 1;
  letter-spacing: 0%;
  cursor: pointer;
  border-radius: 100px;
  border: 3px solid #FFF;
  background-color: transparent;
  overflow: hidden;
  position: relative;
  transition: border-color 0.3s ease;
}

.contactButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  transform-origin: left;
  background-color: #FFF;
  border-radius: 100px 100px 0 0;
  transition: transform 0.4s ease;
}

.contactButton::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  transform-origin: right;
  background-color: #FFF;
  border-radius: 0 0 100px 100px;
  transition: transform 0.4s ease;
}

.contactButton:hover {
  border-color: transparent;
}

.contactButton:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.contactButton:hover::after {
  transform: scaleX(1);
  transform-origin: right;
}

.dropdownContent {
  background: #FFF;
  border: none;
  border-radius:24px;
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
}

.dropdownItem {
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 6px 0;
  color: #22780B;
  font-weight: 600;
  font-style: normal;       
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0%;
  text-decoration: none;
}

.dropdownItemIcon {
  color: #22780B;
}

.dropdownItem:hover,
.dropdownItem:focus-visible {
  cursor: pointer;
  background-color: transparent;
}

.menuButton {
  display: none;
}

@media (max-width: 1023px) {
  .header {
    margin: 0.625rem 4rem 0;
    padding-bottom: 0.625rem;
    border-bottom: 2px solid #FFF;
  }

  .logo {
    width: 67px;
    height: 69px;
  }

  .menu {
    gap: 1.5rem;
  }

  .menuItem {
    font-size: 15px;
    line-height: 100%;
  }

  .menuTriggerIcon {
    width: 13px;
    height: 13px;
  }

  .contactButton {
    padding: 0.6rem 2rem;
    font-size: 15px;
    line-height: 100%;
    border: 2px solid #FFF;
  }
}

@media (max-width: 767px) {
  .header {
    margin: 0.875rem 2.125rem 0;
    border-bottom: none;
  }

  .nav {
    display: none;
  }

  .contactButton {
    display: none;
  }

  .menuButton {
    display: inline-flex;
  }
}
