.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textBlock {
  max-width: 816px;
  display: flex;
  gap: 80px;
  flex-direction: column;
}

.title {
  color: #000;
  font-size: 96px;
  font-weight: 600;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0%;
}

.description {
  color: #000;
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0%;
}

.imageContainer {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.imageContainer img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 40px;
}
