.aboutUsSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textBlock {
  max-width: 51rem;
  display: flex;
  gap: 4rem;
  flex-direction: column;
}

.title {
  color: #000;
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.25;
}

.description {
  color: #000;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.25;
}

.imageContainer {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.imageContainer img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

@media (max-width: 1440px) {
  .aboutUsSection {
    gap: 4rem;
  }

  .textBlock {
    max-width: 40rem;
    gap: 2.5rem;
  }

  .title {
    font-size: 4.5rem;
  }

  .description {
    font-size: 1.5rem;
  }

  .imageContainer img {
    max-width: 340px;
  }
}

@media (max-width: 1023px) {
  .aboutUsSection {
    gap: 3rem;
  }

  .textBlock {
    max-width: 28.125rem;
    gap: 1rem;
  }

  .title {
    font-size: 2.875rem;
  }

  .description {
    font-size: 1rem;
  }

  .imageContainer img {
    max-width: 230px;
  }
}

@media (max-width: 767px) {
  .aboutUsSection {
    gap: 2rem;
  }

  .textBlock {
    max-width: 100%;
  }

  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 0.875rem;
  }

  .imageContainer img {
    max-width: 200px;
  }
}

@media (max-width: 620px) {
  .aboutUsSection {
    flex-direction: column-reverse;
  }

  .textBlock {
    max-width: 26.25rem;
  }

  .description {
    font-size: 1.25rem;
  }

  .imageContainer img {
    max-width: 100%;
  }
}
