.footer {
  width: 100%;
  padding: 40px 144px;
  flex: 1;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  color: #FFF;
  background-color: #084902;
}

.footerContent {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.logoFooter {
  width: 228px;
  height: 259px;
  margin-right: 133px;
}

.menuColumn {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.columnTitle {
  color: #FFF;
  font-size: 40px;
  font-weight: 600;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0%;
}

.columnTitle a {
  color: inherit;
  text-decoration: none;
}

.menuColumn:not(:last-child) .columnTitle {
  padding-left: 6px;
}

.menuList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.menuListItem {
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0%;
  display: flex;
  align-items: center;
}

.menuLink {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.menuLink:hover {
  opacity: 0.8;
}

/* Corporate column - no hover on title, but hover on items */
.corporateColumn .columnTitle a {
  cursor: default;
}

.corporateColumn .menuLink:hover {
  opacity: 0.8;
}

/* Contacts column - no hover on items, but hover on title */
.contactsColumn .menuLink {
  cursor: default;
}

.contactsColumn .menuLink:hover {
  opacity: 1;
}

.menuListIcon {
  color: #FFF;
}

@media (max-width: 1440px) {
  .footer {
    padding: 5rem;
  }

  .footerContent {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1.5rem;
  }

  .logoFooter {
    grid-column: 1 / -1;
    justify-self: center;
    width: 185px;
    height: 210px;
    margin-right: 0;
    margin-bottom: 2.5rem;
  }

  .menuColumn {
    gap: 1.25rem;
  }

  .columnTitle {
    font-size: 2.125rem;
  }

  .menuColumn:not(:last-child) .columnTitle {
    padding-left: 0.3125rem;
  }

  .menuListItem {
    font-size: 1rem;
  }

  .menuListIcon {
    width: 20px;
    height: 20px;
  }

  .menuLink {
    gap: 0.3125rem;
  }
}

@media (max-width: 1023px) { 
  .footer {
    padding: 2rem 4rem;
  }

  .footerContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    gap: 1rem;
  }

  .logoFooter {
    width: 116px;
    height: 132px;
    margin-right: 0px;
    margin-bottom: 25px;
    grid-column: 1 / -1;
    justify-self: center;
  }

  .menuColumn {
    gap: 16px;
  }

  .columnTitle {
    font-size: 24px;
  }

  .menuColumn:not(:last-child) .columnTitle {
    padding-left: 4px;
  }

  .menuList {
    gap: 10px;
  }

  .menuListItem {
    font-size: 12px;
  }

  .menuListIcon {
    width: 16px;
    height: 16px;
  }

  .menuLink {
    gap: 4px;
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 2.125rem;
  }

  .columnTitle {
    font-size: 20px;
  }

  .menuListItem {
    font-size: 10px;
  }
}

@media (max-width: 620px) {
  .footerContent {
    grid-template-columns: auto auto auto;
  }

  .logoFooter {
    width: 144px;
    height: 157px;
  }

  .contactsColumn {
    margin-bottom: 25px;
    grid-column: 1 / -1;
    grid-row: 2;
    justify-self: center;
  }

  .columnTitle {
    text-align: center;
    font-size: 16px;
  }

  .menuColumn:not(:last-child) .columnTitle {
    padding-left: 0;
  }

  .menuListItem {
    font-size: 8px;
    justify-content: center;
  }

  .menuListIcon {
    display: none;
  }
}
