.sustainabillitySection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textBlock {
  max-width: 51rem;
  display: flex;
  gap: 4rem;
  flex-direction: column;
}

.title {
  color: #000;
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.25;
}

.description {
  color: #000;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.25;
}

.imageContainer {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.imageContainer img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

@media (max-width: 1023px) {
  .sustainabillitySection {
    gap: 3rem;
  }

  .textBlock {
    max-width: 28.125rem;
    gap: 1rem;
  }

  .title {
    font-size: 2.875rem;
  }

  .description {
    font-size: 1rem;
  }

  .imageContainer img {
    max-width: 230px;
    height: auto;
    object-fit: contain;
  }
}
