.topBannerContainer {
  width: 100%;
  overflow: hidden;
}

.topBanner {
  width: 100%;
  filter: brightness(0.8);
  display: block;  
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1440px) {
  .topBanner {
    min-height: 300px;
  }
}

@media (max-width: 1023px) {
  .topBanner {
    min-height: 270px;
  }
}
