.container {
  width: 100%;
  height: 100vh;
  padding: 0 144px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(104.89deg, #535353 0%, #000000 100%);
}

.products {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(4, 1fr);
}
