.container {
  width: 100%;
  height: 100vh;
  padding: 0 144px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(104.89deg, #535353 0%, #000000 100%);
}

.products {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(4, 1fr);
}

.product {
  overflow: hidden; 
  position: relative;
  border-radius: 48px;
}

.product img {
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
  transition: transform 0.7s ease-in-out; 
}

.product:hover img {
  transform: scale(1.2);
}

.productButton {
  position: absolute;
  left: 16px;
  bottom: 16px;
  width: 58px;
  height: 58px;
  border: none;
  border-radius: 50%;
  background-color: #FFF;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 100;
  pointer-events: none;
  transform: translateY(24px);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.productButton:hover,
.productButton:focus,
.productButton:focus-visible {
  outline: none;
}

.productButtonIcon {
  color: #22780B;
}

.product:hover .productButton,
.product:focus-within .productButton {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
