.fruitsSection {
  text-align: center;
}

.title {
  color: #000;
  margin-bottom: 5rem;
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.25;
}

.images {
  display: flex;
  flex-wrap: wrap;
  column-gap: 11rem;
  row-gap: 5.5rem;
  justify-content: center; 
}

.images img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

@media (max-width: 1023px) {
  .title {
    margin-bottom: 3rem;
    font-size: 2.875rem;
  }

  .images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(180px, 100%), 1fr));
    gap: 2rem;
  }
}

@media (max-width: 620px) {
  .title {
    margin-bottom: 2rem;
    font-size: 2.5rem;
  }

  .images {
    grid-template-columns: auto;
  }
}
