.fruitsSection {
  text-align: center;
  display: flex;
  gap: 5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: #000;
  font-size: 6rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0%;
}

.images {
  display: flex;
  flex-wrap: wrap;
  column-gap: 11rem;
  row-gap: 5.5rem;
  justify-content: center; 
}

.images img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
