.contactsPage {
  width: 100%;
  min-height: 100vh;
  background-color: #A7A7A7;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  box-sizing: border-box;
}

.card {
  background-color: #FFF;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  max-width: 1400px;
  width: 100%;
}

.title {
  color: #000;
  font-size: 64px;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 30px;
}

.phonesContainer {
  display: flex;
  flex-direction: row;
  gap: 28px;
}

.phone {
  color: #000;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0%;
}

.email {
  color: #000;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0%;
  margin: 0;
}

.address {
  color: #000;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0%;
  margin: 0;
}
