.hero {
  width: 100%;
  height: 100vh;
  color: #fff;
  text-align: center;
  background-image: url('@/assets/main-photo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
